<% product = Product.find(item.product_id) %>
<tr>
<td><%= image_tag product.image.thumb, alt: product.name %></td>
<td><%= product.name %></td>
<td><%= product.description %></td>
<td><%= item.quantity %></td>
<td><%= humanized_money_with_symbol item.total_price_cents %></td>
</tr>